<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [2]:
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [7]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [8]:
# Let's check this variable out
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# What type is this variable?
type(df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [15]:
# Let's grab just one column
age = df['age']

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [13]:
# Grab the same column as an attribute
df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [16]:
# What type is the column?
type(age)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [17]:
# Check out the dataframe index
df.index

RangeIndex(start=0, stop=303, step=1)

In [18]:
# Check out the series index
age.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [19]:
# Check out the dataframe columns
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [20]:
# Now try with the series
age.columns

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [22]:
# Check out the dataframe values
df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [23]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [24]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [26]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [27]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [28]:
df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [29]:
# Calculate the mean - for the whole dataframe!
df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

Let's pause and interpret - any observations?

-

In [30]:
# Now min
df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [31]:
# And max
df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [39]:
# Accessing a CSV from a url
intakes = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12T00:23:00.000,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [ ]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!

In [53]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
intakes_url = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')
intakes_url.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [ ]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows

In [43]:
# Check the last 5 rows
intakes_url.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [54]:
# Check the shape
intakes_url.shape

(136763, 12)

In [55]:
# Check the datatypes
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [57]:
# Check more general information on the dataframe
intakes_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [58]:
# Check summary/descriptive statistics on the dataframe
intakes_url.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [59]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [63]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row, orient = 'index').T

In [67]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
animals = pd.concat([intakes_url, new_animal], ignore_index = True)

In [68]:
# Let's check the end to make sure we were successful!
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [69]:
# Create a new column, 'test', where every value in the col is 0
animals['test'] = 0

In [70]:
# Sanity check
animals.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,test
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,0
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,0
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,0
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,0
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,0

But we don't need that - let's drop that column.

In [72]:
# Drop that test column
animals.drop(columns = ['test'], inplace = True)

In [73]:
# Sanity check
animals.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [77]:
# Create a new column, 'Type', from the two 'Type' columns
animals['Type'] = animals['Intake Type'] + " " + animals['Animal Type']

In [91]:
# Sanity check
animals.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [94]:
# What type is the DateTime column now?
animals.dtypes

Animal ID                   object
Name                        object
DateTime            datetime64[ns]
Year                datetime64[ns]
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
MonthYear                   object
Type                        object
dtype: object

In [92]:
# Let's make that a datetime datatype
animals['DateTime'] = pd.to_datetime(animals['DateTime'])

In [93]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog
136763,A851755,T'Challa,2022-02-28 11:25:00,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat

In [95]:
# Now we can access parts of a datetime object using .dt - an attribute!
animals['DateTime'].dt.year

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
136759    2022
136760    2022
136761    2022
136762    2022
136763    2022
Name: DateTime, Length: 136764, dtype: int64

In [98]:
# Make that into a new columnanima
animals['Intake Year'] = animals['DateTime'].dt.year

In [99]:
# Sanity check
animals.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2016
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,2013
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog,2014

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [102]:
# Check which rows have an intake year greater than or equal to 2020
animals.loc[animals['Intake Year']>=2020]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
7,A844350,*Ella,2021-10-15 11:40:00,1970-01-01 00:00:00.000002021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,2021
9,A818975,NaN,2020-06-18 14:53:00,1970-01-01 00:00:00.000002020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,2020
22,A831808,NaN,2021-04-02 11:16:00,1970-01-01 00:00:00.000002021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,NaN,Owner Surrender Cat,2021
24,A836850,NaN,2021-06-15 12:37:00,1970-01-01 00:00:00.000002021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public Assist Dog,2021
26,A815227,Baby,2020-03-12 13:52:00,1970-01-01 00:00:00.000002020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,Stray Dog,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,2022
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,2022
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,2022
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,2022
136763,A851755,T'Challa,2022-02-28 11:25:00,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,2022

In [103]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
animals['Intake Year'] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136759     True
136760     True
136761     True
136762     True
136763     True
Name: Intake Year, Length: 136764, dtype: bool

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [105]:
# Create a subset dataframe of animals taken in during or after 2020
subset20 = animals.loc[animals['Intake Year']>=2020]

In [107]:
# Sanity check
subset20.shape

(23270, 15)

We can return only certain columns when we do this, by adding an argument after the condition:

In [116]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
subsub = animals.loc[animals['Intake Year']>=2020, ['Animal ID', 'DateTime', 'Type']]

In [117]:
subsub

       Animal ID            DateTime                 Type
7        A844350 2021-10-15 11:40:00            Stray Cat
9        A818975 2020-06-18 14:53:00            Stray Cat
22       A831808 2021-04-02 11:16:00  Owner Surrender Cat
24       A836850 2021-06-15 12:37:00    Public Assist Dog
26       A815227 2020-03-12 13:52:00            Stray Dog
...          ...                 ...                  ...
136759   A852221 2022-02-28 11:05:00            Stray Dog
136760   A851977 2022-02-22 13:34:00            Stray Dog
136761   A852127 2022-02-25 13:05:00            Stray Dog
136762   A852194 2022-02-27 13:44:00            Stray Dog
136763   A851755 2022-02-28 11:25:00    Public Assist Cat

[23270 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [118]:
# Find all the Stray Cats taken in during or after 2020
animals.loc[(animals['Intake Year'] >= 2020) & (animals['Type'] == 'Stray Cat'), ['Animal ID', 'DateTime', 'Type']]

       Animal ID            DateTime       Type
7        A844350 2021-10-15 11:40:00  Stray Cat
9        A818975 2020-06-18 14:53:00  Stray Cat
44       A821389 2020-08-10 14:10:00  Stray Cat
123      A816185 2020-04-09 07:49:00  Stray Cat
128      A834412 2021-05-13 13:58:00  Stray Cat
...          ...                 ...        ...
136734   A852021 2022-02-23 11:57:00  Stray Cat
136746   A850166 2022-01-19 12:39:00  Stray Cat
136750   A852230 2022-02-28 12:15:00  Stray Cat
136754   A852234 2022-02-28 12:33:00  Stray Cat
136757   A852216 2022-02-28 10:50:00  Stray Cat

[6204 rows x 3 columns]

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [121]:
animals.loc[(animals['Animal Type'] == 'Dog') & (animals['Intake Condition'] != 'Normal'), ['Name', 'Intake Year', 'Animal Type', 'Name', 'Intake Condition']]

,Name,Intake Year,Animal Type,Name,Intake Condition
24,NaN,2021,Dog,NaN,Pregnant
38,Pearl,2019,Dog,Pearl,Sick
40,*Raven,2016,Dog,*Raven,Injured
91,Blackie,2014,Dog,Blackie,Injured
134,Cookie,2020,Dog,Cookie,Sick
...,...,...,...,...,...
136723,*Marshmallow Fluff,2022,Dog,*Marshmallow Fluff,Injured
136724,*Honey,2022,Dog,*Honey,Injured
136726,*Treacle,2022,Dog,*Treacle,Injured
136728,*Maple Syrup,2022,Dog,*Maple Syrup,Injured
136742,Monty,2022,Dog,Monty,Injured

In [123]:
animals.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2016
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,2013
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog,2014

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [124]:
animals.loc[(animals['Sex upon Intake'] == 'Intact Male') | (animals['Sex upon Intake'] == 'Intact Female')]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2016
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,2013
7,A844350,*Ella,2021-10-15 11:40:00,1970-01-01 00:00:00.000002021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,2021
8,A708452,Mumble,2015-07-30 14:37:00,1970-01-01 00:00:00.000002015,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,NaN,Public Assist Dog,2015
9,A818975,NaN,2020-06-18 14:53:00,1970-01-01 00:00:00.000002020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,2022
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,2022
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,2022
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,2022
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,2022

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [127]:
# Find the first 3 rows
animals.iloc[0:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2016

In [128]:
# Same as using head(3)
animals.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,2019
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,2015
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2016

In [129]:
# Can look exactly where the 0 index is
animals.iloc[0]

Animal ID                                       A786884
Name                                             *Brock
DateTime                            2019-01-03 16:19:00
Year                      1970-01-01 00:00:00.000002019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
MonthYear                                           NaN
Type                                          Stray Dog
Intake Year                                        2019
Name: 0, dtype: object

In [130]:
# But what about our subset dataframe above? It doesn't have an index 0
subsub.iloc[0]

Animal ID                A844350
DateTime     2021-10-15 11:40:00
Type                   Stray Cat
Name: 7, dtype: object

In [131]:
# Try it...
subsub.iloc[0:3]

   Animal ID            DateTime                 Type
7    A844350 2021-10-15 11:40:00            Stray Cat
9    A818975 2020-06-18 14:53:00            Stray Cat
22   A831808 2021-04-02 11:16:00  Owner Surrender Cat

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [140]:
# Check the value counts for Animal Type
animals.value_counts('Animal Type')

Animal Type
Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
dtype: int64

In [134]:
# Now check Breed
animals.value_counts('Breed')

Breed
Domestic Shorthair Mix                 32034
Domestic Shorthair                     10441
Pit Bull Mix                            8913
Labrador Retriever Mix                  7370
Chihuahua Shorthair Mix                 6486
                                       ...
Doberman Pinsch/Vizsla                     1
Shih Tzu/Australian Shepherd               1
Dogo Argentino/Boxer                       1
Dogo Argentino/Chinese Sharpei             1
Yorkshire Terrier/Yorkshire Terrier        1
Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [138]:
# Use the normalize argument to view as percentages
animals['Breed'].value_counts(normalize=True)

Domestic Shorthair Mix                      0.234228
Domestic Shorthair                          0.076343
Pit Bull Mix                                0.065171
Labrador Retriever Mix                      0.053888
Chihuahua Shorthair Mix                     0.047425
                                              ...
Dachshund Wirehair/Standard Poodle          0.000007
French Bulldog/Miniature Schnauzer          0.000007
Dachshund Longhair/Australian Cattle Dog    0.000007
Shetland Sheepdog/German Shepherd           0.000007
Rhod Ridgeback/Chow Chow                    0.000007
Name: Breed, Length: 2734, dtype: float64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [136]:
# Let's sort the year column
animals.sort_values('Intake Year')

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
13061,A667397,*Gaby,2013-11-17 13:51:00,1970-01-01 00:00:00.000002013,710 East Ben White Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair,Tricolor,NaN,Stray Dog,2013
31112,A667458,Chino,2013-11-18 13:19:00,1970-01-01 00:00:00.000002013,8401 Research Blvd. in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Pit Bull Mix,Tan/White,NaN,Stray Dog,2013
74446,A612281,Luna,2013-12-20 13:37:00,1970-01-01 00:00:00.000002013,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,3 years,Catahoula Mix,Brown Merle/White,NaN,Owner Surrender Dog,2013
82804,A661693,Dino,2013-12-29 15:56:00,1970-01-01 00:00:00.000002013,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/Tan,NaN,Public Assist Dog,2013
118202,A666273,*Jasmine,2013-10-29 16:16:00,1970-01-01 00:00:00.000002013,1310 Byers in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Boxer/Pit Bull,Brown/White,NaN,Stray Dog,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135555,A849089,*Leon Redbone,2022-01-02 08:02:00,1970-01-01 00:00:00.000002022,4434 Frontier Trail in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Redbone Hound/Greyhound,Brown,NaN,Stray Dog,2022
135554,A850252,*Bellabelle,2022-01-21 08:00:00,1970-01-01 00:00:00.000002022,Austin (TX),Stray,Sick,Dog,Intact Female,1 year,Labrador Retriever,Black/White,NaN,Stray Dog,2022
135553,A770617,*Batgirl,2022-01-20 16:25:00,1970-01-01 00:00:00.000002022,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,6 years,Pit Bull Mix,Fawn/White,NaN,Owner Surrender Dog,2022
135566,A850439,Chai,2022-01-24 15:35:00,1970-01-01 00:00:00.000002022,Austin (TX),Owner Surrender,Normal,Other,Intact Male,7 months,Guinea Pig,White/Tricolor,NaN,Owner Surrender Other,2022
136763,A851755,T'Challa,2022-02-28 11:25:00,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,2022

In [137]:
# Now, sort the Animal Type col
animals.sort_values('Animal Type')

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Intake Year
4867,A720744,Rooster 28,2016-02-14 16:02:00,1970-01-01 00:00:00.000002016,21413 Webber Oaks Cv in Travis (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken Mix,Black/Red,NaN,Public Assist Bird,2016
96361,A720751,Rooster D 5,2016-02-14 16:02:00,1970-01-01 00:00:00.000002016,21413 Webber Oaks Cv in Travis (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken Mix,White,NaN,Public Assist Bird,2016
15477,A683716,NaN,2014-07-14 13:54:00,1970-01-01 00:00:00.000002014,9401 Capital Of Texas Highway in Austin (TX),Stray,Normal,Bird,Intact Female,1 month,Chicken,Brown/Yellow,NaN,Stray Bird,2014
3791,A818041,NaN,2020-05-31 18:33:00,1970-01-01 00:00:00.000002020,1103 E Applegate in Austin (TX),Stray,Normal,Bird,Intact Male,1 year,Chicken,White/Red,NaN,Stray Bird,2020
34239,A787492,NaN,2019-01-14 13:00:00,1970-01-01 00:00:00.000002019,9505 Cheryl Lynn in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Vulture Mix,Black,NaN,Wildlife Bird,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59440,A829431,NaN,2021-02-10 15:49:00,1970-01-01 00:00:00.000002021,905 Rocking Spur Cove in Travis (TX),Stray,Normal,Other,Intact Male,1 year,Rabbit Sh,Black,NaN,Stray Other,2021
106179,A745754,NaN,2017-03-23 13:19:00,1970-01-01 00:00:00.000002017,2222 Rio Grande St in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat,Black,NaN,Wildlife Other,2017
15456,A816009,NaN,2020-04-02 16:52:00,1970-01-01 00:00:00.000002020,5310 Joe Sayers Ave in Austin (TX),Wildlife,Sick,Other,Unknown,2 years,Bat,Brown,NaN,Wildlife Other,2020
46896,A758611,NaN,2017-09-19 12:38:00,1970-01-01 00:00:00.000002017,9300 Roxanna Drive in Austin (TX),Stray,Normal,Other,Unknown,1 year,Snake Mix,Black/Brown,NaN,Stray Other,2017
37968,A766167,Sophie,2018-02-03 13:36:00,1970-01-01 00:00:00.000002018,Austin (TX),Owner Surrender,Normal,Other,Intact Female,5 months,Californian Mix,White/Black,NaN,Owner Surrender Other,2018

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.